version: '3.9'
services:
  etechBlog:
    container_name: backendEtech
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - 8000:8000
    depends_on:
      - db
      
  db:
    container_name: mysql
    image: mysql:5.7.22
    restart: always
    environment:
      MYSQL_DATABASE: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    ports: 
      - 3306:3306
    volumes:
      - /./dbdata/var/lib/mysql